div#footer
	div.container
		div.row
			div.span6
				| &copy;2012&nbsp;
				a(href="http://#{baseUrl}") Marcel Araujo
				| &nbsp;all rights reserved.
				div
				| Angular Socket.io seed app: v
				span(app-version)
			div#builtby.span6
				| Built by&nbsp;
				a(href="http://#{baseUrl}") Marcel Araujo

	script(type="text/javascript", charset="utf-8", src="/resources/js/angular/angular.min.js")
	script(type="text/javascript", charset="utf-8", src="/resources/js/excanvas/excanvas.min.js")
	script(type="text/javascript", charset="utf-8", src="/resources/js/jquery/jquery.min.js")
	script(type="text/javascript", charset="utf-8", src="/resources/js/bootstrap/bootstrap.min.js")
	script(type="text/javascript", charset="utf-8", src="/resources/js/highcharts/highcharts.js")
	script(type="text/javascript", charset="utf-8", src="/socket.io/socket.io.js")
	script(type="text/javascript", charset="utf-8", src="/app/app.js")
	script(type="text/javascript", charset="utf-8", src="/app/services.js")
	script(type="text/javascript", charset="utf-8", src="/app/controllers.js")
	script(type="text/javascript", charset="utf-8", src="/app/filters.js")
	script(type="text/javascript", charset="utf-8", src="/app/directives.js")
