head

	title Server Monitor Status - #{title}

	meta(charset="utf-8")
	meta(name="description", content="")
	meta(name="author", content="")
	meta(name="HandheldFriendly", content="True")
	meta(name="MobileOptimized", content="320")
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="apple-mobile-web-app-status-bar-style", content="black")
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	meta(name="apple-mobile-web-app-capable", content="yes")

	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800")
	link(rel="stylesheet", href="/resources/css/font-awesome.css")
	//if IE 7
		link(rel="stylesheet", href="/resources/css/font-awesome-ie7.css")
	link(rel="stylesheet", href="/resources/css/bootstrap.min.css")
	link(rel="stylesheet", href="/resources/css/bootstrap-responsive.min.css")
	link(rel="stylesheet", href="/resources/css/application.css")

	script(type="text/javascript", charset="utf-8", src="/resources/js/modernizr/modernizr-2.6.2.min.js")
	script(type="text/javascript", charset="utf-8")
		var baseUrl = "http://#{baseUrl}";
