extends layout

block content
	div.row
		div.span12
			div.error-container
				h1 Ops!
				h2 404 Not Found
				div.error-details
					p Sorry, an error has occured, Requested page not found!
					em #{url}
				div.error-actions
					a.btn.btn-large.btn-primary(href="/")
						i.icon-chevron-left
						| &nbsp;Back to Dashboard
					a.btn.btn-large(href="/contact")
						i.icon-envelope
						| &nbsp;Contact Support