extends layout

block content
	div.row
		div.span4
			h3.title Welcome to #{title}
			p You are current ly signed up to the Free Trial Plan.
				br
				a(href="javascript:return false;") Upgrade your plan today
			table.table.stat-table
				tbody
					tr
						td.value 789
						td.full Visits Today
					tr
						td.value 634
						td.full Unique Visits
					tr
						td.value 13
						td.full Pending Comments
					tr
						td.value 17
						td.full Support Requests
		div.span8
			h3.title Cpu Stats
			div#graph-cpu
	div.row
		div.span4
			h3.title Memory Usage
			div#graph-memory
		div.span8
			h3.title Apache Requests
			div#graph-requests