extends layout

block content
	div.row-fluid
		div.span4
			h3.title Welcome to #{title}
			table.table.stat-table
				tbody
					tr
						td.value 789
						td.full Visits Today
					tr
						td.value 634
						td.full Unique Visits
					tr
						td.value 13
						td.full Pending Comments
					tr
						td.value 17
						td.full Support Requests
		div.span8
			h3.title CPU Usage
			div#graph-cpu
		br.clear
	div.row-fluid
		div.span4
			h3.title Memory Usage
			div#graph-memory
		div.span8
			h3.title Realtime Activity
			table.table.table-striped.table-bordered.table-hover.table-condensed
				thead
					tr
						th.ip IP
						th.url Url
						th.method Method
						th.status Status
						th.time Time
				tbody
					tr
						td.ip 10.20.7.206
						td.url /secure-qa
						td.method GET
						td.status 301
						td.time 22/Oct/2012 07:02:43
					tr
						td.ip 10.20.7.206
						td.url /secure-qa
						td.method GET
						td.status 301
						td.time 22/Oct/2012 07:02:43
					tr
						td.ip 10.20.7.206
						td.url /secure-qa
						td.method GET
						td.status 301
						td.time 22/Oct/2012 07:02:43
					tr
						td.ip 10.20.7.206
						td.url /secure-qa
						td.method GET
						td.status 301
						td.time 22/Oct/2012 07:02:43
					tr
						td.ip 10.20.7.206
						td.url /secure-qa
						td.method GET
						td.status 301
						td.time 22/Oct/2012 07:02:43
					tr
						td.ip 10.20.7.206
						td.url /secure-qa
						td.method GET
						td.status 301
						td.time 22/Oct/2012 07:02:43
					tr
						td.ip 10.20.7.206
						td.url /secure-qa
						td.method GET
						td.status 301
						td.time 22/Oct/2012 07:02:43
					tr
						td.ip 10.20.7.206
						td.url /secure-qa
						td.method GET
						td.status 301
						td.time 22/Oct/2012 07:02:43
					tr
						td.ip 10.20.7.206
						td.url /secure-qa
						td.method GET
						td.status 301
						td.time 22/Oct/2012 07:02:43
					tr
						td.ip 10.20.7.206
						td.url /secure-qa
						td.method GET
						td.status 301
						td.time 22/Oct/2012 07:02:43
		br.clear