doctype 5
//if lt IE 7
	html(class="no-js lt-ie9 lt-ie8 lt-ie7", lang="en", ng-app="myApp")
//if IE 7
	html(class="no-js lt-ie9 lt-ie8", lang="en", ng-app="myApp")
//if IE 8
	html(class="no-js lt-ie9", lang="en", ng-app="myApp")
// [if gt IE 8] <!
html(class="no-js", lang="en", ng-app="myApp")
	// <![endif]

	include includes/header

	body
		div#wrapper(ng-controller='ApplicationController')
			div#header
				div.container
					a.brand(ng-href="http://#{baseUrl}") Dashboard Admin
					a.btn-navbar(ng-href="javascript:return false;", data-toggle="collapse", data-target=".nav-collapse")
						i.icon-reorder
					div.nav-collapse
						ul#main-nav.nav.pull-right
							li.nav-icon.active
								a(href="/")
									i.icon-home
									span Home
							li.nav-icon
								a(href="logs")
									i.icon-list-alt
									span Logs
			div#content
				div.container
					div {{name}}
					block content

			include includes/footer
