doctype 5
//if lt IE 7
	html(class="no-js lt-ie9 lt-ie8 lt-ie7", lang="en")
//if IE 7
	html(class="no-js lt-ie9 lt-ie8", lang="en")
//if IE 8
	html(class="no-js lt-ie9", lang="en")
// [if gt IE 8] <!
html(class="no-js", lang="en")
	// <![endif]
	head
		title= title
		
		meta(charset="utf-8")
		meta(name="description", content="")
		meta(name="author", content="")
		meta(name="HandheldFriendly", content="True")
		meta(name="MobileOptimized", content="320")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800")
		link(rel="stylesheet", href="/resources/css/font-awesome.css")
		//if IE 7
			link(rel="stylesheet", href="/resources/css/font-awesome-ie7.css")
		link(rel="stylesheet", href="/resources/css/bootstrap.min.css")
		link(rel="stylesheet", href="/resources/css/bootstrap-responsive.min.css")
		link(rel="stylesheet", href="/resources/css/application.css")
		
		script(type="text/javascript", charset="utf-8", src="/resources/js/modernizr-2.6.2.min.js")
	body
		
		div#wrapper
			div#header
				div.container
					a.brand(href="http://blog.marcelaraujo.me:3000") Dashboard Admin
					a.btn-navbar(href="javascript:return false;", data-toggle="collapse", data-target=".nav-collapse")
						i.icon-reorder
					div.nav-collapse
						ul#main-nav.nav.pull-right
							li.nav-icon.active
								a(href="http://blog.marcelaraujo.me:3000")
									i.icon-home
									span Home
			div#content
				div.container
					block content
		div#footer
			div.container
				div.row
					div.span6
						| &copy;2012&nbsp;
						a(href="http://blog.marcelaraujo.me:3000") Marcel Araujo
						| &nbsp;all rights reserved.
					div#builtby.span6
						| Built by&nbsp;
						a(href="http://blog.marcelaraujo.me:3000") Marcel Araujo
		
		script(type="text/javascript", charset="utf-8", src="/resources/js/excanvas.min.js")
		script(type="text/javascript", charset="utf-8", src="/resources/js/jquery.min.js")
		script(type="text/javascript", charset="utf-8", src="/resources/js/bootstrap.min.js")